 /*Principal*/
 .section-buscar input {
    padding: 5px !important;
     font-size: 18px !important;
     width: 100% !important;
     border: #f4f4f4 3px solid !important;
 }

 .section-comentar .input-field input {
    padding-left: 5px !important;
     font-size: 18px !important;
     width: 100% !important;
 }

 .section-comentar textarea{
    padding-left: 5px !important;
    font-size: 18px !important;
     width: 100% !important;
 }

 /*Articulo*/
.section-articulo .tabs .indicator {
   background-color: #fb163c;
}

/*Editor*/
.section-administrar .input-field input {
   padding-left: 5px !important;
    font-size: 18px !important;
    width: 100% !important;
}

.section-administrar textarea{
   padding-left: 5px !important;
   font-size: 18px !important;
    width: 100% !important;
}